:root {
    --green: #9DE5B8;
    --blue: #23465A;
    --cream: #DEF2F1;
}  

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: var(--blue);
    background: var(--cream);
}

h1 {
    font-size: 30px;
    text-align: center;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--blue);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-color: var(--blue);
    --bs-btn-hover-bg: var(--green);
    --bs-btn-hover-border-color: var(--green);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--blue);
    --bs-btn-active-bg: var(--green);
    --bs-btn-active-border-color: var(--green);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--blue);
    --bs-btn-disabled-border-color: var(--blue);
}

.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: white;
    max-width: 800px;
    border: 10px solid var(--blue);
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: -10px;
    width: calc(100% + 20px);
    margin: auto;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 20px solid var(--blue);
}

.button-container, .setter-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.visualizer-container {
    border: 2px solid var(--blue);
    background-color: var(--cream);
    height: 300px;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.spinner-grow {
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
    display: none;
}

.card {
    color: var(--blue);
    background-color: transparent;
    border: 2px solid var(--blue);
}

.card-body button {
    margin-top: 1rem;
}

midi-player {
    width: inherit;
    display: block;
    margin: 0px;
}

midi-player::part(control-panel) {
    background: var(--green);
    border: 2px solid var(--blue);
    border-radius: 10px 10px 0 0;
}

midi-player::part(play-button) {
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: var(--cream);
    border-radius: 20px;
    transition: all 0.2s;
}

midi-player::part(time) {
    color: var(--blue);
    font-size: 12px;
    font-family: monospace;
}

#midiVisualizer {
    width: 100%;
    height: inherit;
}

midi-visualizer .piano-roll-visualizer {
    margin: 4px;
    margin-top: 0;
    overflow: auto;
}

midi-visualizer svg rect.note {
    fill: var(--blue);
}

midi-visualizer svg rect.note.active {
    fill: var(--green);
    stroke: var(--blue);
}

#change_points, #arousal_list:empty {
    display: none;
}

#change_points, #arousal_list {
    height: 1rem; 
    background-color: white; 
    position: relative; 
    width: 100%; 
    overflow: visible;
}

.indicator {
    position: absolute;
    height: 100%;
    color: black;
    font-size: 1rem;
    white-space: nowrap;
    transform: translateY(-50%);
}